Package: com.sinfool.lsncfontstyleboldoritalic
Name: LS/NC - Font Style (Bold or Italic)
Author: Sinfool
Description: Changes the text font to either a bold or italic style for all bubble headers and notification content on the LS, NC and notification banners.  By default, it's set to italic. Changes the text font to either a bold or italic style for all bubble headers and notification content on the LS, NC and notification banners.  By default, it's set to italic.
 .
 [v.1] Tested with an iPad mini 4 10.2.  (3-22-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 36171
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
