Package: com.sinfool.removesbannerad
Name: Removes Banner Ad
Author: Sinfool
Description: Removes banner ad. Removes banner ad. patchID: 11061
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.datpiff.mobile
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
