Package: com.sinfool.nobannerads
Name: No Banner Ads
Author: Sinfool
Description: Removes banner ads. Removes banner ads. patchID: 10321
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.candywriter.explorer10
Homepage: https://ipadkid.cf/sinfool/index.html
