Package: com.sinfool.kbdisableaccentkeys
Name: KB - Disable Accent Keys
Author: Sinfool
Description: Disables long pressed accent keys from popping up. Disables long pressed accent keys from popping up.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34229
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
