Package: com.sinfool.noadsver12
Name: No Ads (ver. 1.2)
Author: Sinfool
Description: No ads.  Tested with version 1.2.  (5-3-15) No ads.  Tested with version 1.2.  (5-3-15) patchID: 20959
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.WorldOnGo.IndoPak
Homepage: https://ipadkid.cf/sinfool/index.html
