Package: com.sinfool.aionostartupbanneradsnocommercialsver100102
Name: [AIO] No Startup/Banner Ads & No Commercials (ver. 1.0.0 - 1.0.2)
Author: Sinfool
Description: UPDATE (12-10-14):  All in one patch for E! Now.  No startup, no banner ads & no commercials.	Tested with versions 1.0.0 - 1.0.2. UPDATE (12-10-14):  All in one patch for E! Now.  No startup, no banner ads & no commercials.	Tested with versions 1.0.0 - 1.0.2. patchID: 12507
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.nbcuni.e.tve
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
