Package: com.sinfool.alertssquare
Name: Alerts - Square  ₁₀₋₁₉₋₁₅
Author: Sinfool
Description: Squares the corners of alert sheets. Squares the corners of alert sheets.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-19-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25387
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
