Package: com.sinfool.badgeshideopenfolders
Name: Badges - Hide (Open Folders)
Author: Sinfool
Description: Hides notification badges inside open folders only. Hides notification badges inside open folders only.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via e-mail.  (7-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38462
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
