Package: com.sinfool.activitysheetssimplesheets
Name: Activity Sheets - Simple Sheets
Author: Sinfool
Description: Removes/changes the following elements of activity/share sheets... Removes/changes the following elements of activity/share sheets...
 .
 - Hides AirDrop Section
 - Hides Separators
 - Reduces Spacing Between Icons
 - Removes Icon Title Labels
 .
 Delete units to show elements.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (7-12-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38539
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
