Package: com.sinfool.noopenintheappbanners
Name: No "Open in the app" Banners
Author: Sinfool
Description: Removes the "Open in the 'X' app" banners.  These banners are shown if you have an app installed for said website page. Removes the "Open in the 'X' app" banners.  These banners are shown if you have an app installed for said website page.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (7-3-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38412
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilesafari
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
