Package: com.sinfool.kbrapidcharacterdeletionios11
Name: KB - Rapid Character Deletion (iOS 11)
Author: Sinfool
Description: Enables rapid single character deletion when the "⌫" button is tapped/held and disables auto word deletion.  You can adjust the speed to your liking. Enables rapid single character deletion when the "⌫" button is tapped/held and disables auto word deletion.  You can adjust the speed to your liking.
 .
 [v.1] Tested with an iPad mini2 on 11.1.2.  (5-1-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42162
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
