Package: com.sinfool.kbcursorselectioncolor
Name: KB - Cursor & Selection Color
Author: Sinfool
Description: Changes the cursor & text selection highlight color.  Change the color to your liking. Changes the cursor & text selection highlight color.  Change the color to your liking.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34227
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
