Package: com.sinfool.spotlighttransparentcellsnobackground
Name: Spotlight - Transparent Cells (No Background)
Author: Sinfool
Description: Removes the cell backgrounds from all Spotlight pages (i.e. LS, NC, Today View, HS minus & pull down pages etc). Removes the cell backgrounds from all Spotlight pages (i.e. LS, NC, Today View, HS minus & pull down pages etc).
 .
 [v.1] Tested with an iPad mini 4 10.2.  Made as a request via r/jailbreak.  (3-14-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 35863
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
