Package: com.sinfool.noreportbutton
Name: No Report Button  ₁₋₂₆₋₁₆ ⚑
Author: Sinfool
Description: Removes the Report Button.  Report hazards via 3 finger tap or wave gestures instead. Removes the Report Button.  Report hazards via 3 finger tap or wave gestures instead.
 .
 [v.2] Tested with versions 3.9.4 & 4.1.0.  (1-26-16)
 .
 ⚑ UPDATES:
 (6-1-15) *Initial release
 (1-26-16) *Updated
 .
 ☞PayPal:  goin730@gmail.com patchID: 21436
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.waze.iphone
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
