Package: com.sinfool.hidescrollingphotopicker
Name: Hide Scrolling Photo Picker  ₁₂₋₂₄₋₁₅
Author: Sinfool
Description: Hides the scrolling photo picker cell. Hides the scrolling photo picker cell.
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (12-24-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 27090
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobileslideshow
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 136
