Package: com.sinfool.customstatusbarcolor
Name: Custom Status Bar Color
Author: Sinfool
Description: Changes the color of the status bar foreground text.  Change the color to your liking. Changes the color of the status bar foreground text.  Change the color to your liking.
 .
 [v.1] Tested with an iPad mini2 on 11.1.2.  Made as a request via r/jailbreak user /u/vanko987.  (5-19-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42378
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.Music
Homepage: https://ipadkid.cf/sinfool/index.html
