Package: com.sinfool.ncncallonly
Name: NC - NCAllOnly  ₈₋₂₄₋₁₆
Author: Sinfool
Description: I made this patch to mimic the features of the tweak "NCAllOnly".  This patch provides the following hide/show options in NC... I made this patch to mimic the features of the tweak "NCAllOnly".  This patch provides the following hide/show options in NC...
 .
 - "Today" & "Notifications" Tabs
 - Today view only
 - Notifications view only
 - Top & bottom separator
 - Cell separators
 - Bottom separators
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (8-24-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 30619
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
