Package: com.sinfool.searchbarnosearchicon
Name: Search Bar - No Search Icon
Author: Sinfool
Description: Removes the search bar's magnifying glass icon within apps. Removes the search bar's magnifying glass icon within apps.
 .
 UPDATES:
 (8-20-17) *Initial release
 (8-23-17) *Changed method execution to fix AppStore crashing & changed patch title from "Search Bar - Circle w/Arrow (or No) Search Icon" to "Search Bar - No Search Icon"
 .
 [v.2] Tested with an iPad mini 4 10.2.  (8-23-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 39034
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
