Package: com.sinfool.disablescreenfromshowingwhenconnectingtopower
Name: Disable Screen From Showing When Connecting To Power  ₁₀₋₁₇₋₁₅
Author: Sinfool
Description: Disables the screen from waking/showing when connecting or disconnecting from power. Disables the screen from waking/showing when connecting or disconnecting from power.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-17-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25161
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
