Package: com.sinfool.lshideunlockscreenchevron
Name: LS • Hide Unlock Screen Chevron  ₁₁₋₄₋₁₄
Author: Sinfool
Description: Hides the slide to unlock ">" chevron on the lockscreen.  Tested on iP6+ 8.0-8.4.  (11-4-14) Hides the slide to unlock ">" chevron on the lockscreen.  Tested on iP6+ 8.0-8.4.  (11-4-14)
 .
 ● If you enjoy my patches, please consider sending a donation...
 .
 ☞PayPal:  goin730@gmail.com patchID: 13862
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
