Package: com.sinfool.transparentballoons
Name: Transparent Balloons
Author: Sinfool
Description: Makes chat balloons transparent.  Also provides an option to make the left side text white. Makes chat balloons transparent.  Also provides an option to make the left side text white.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (3-28-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 36333
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
