Package: com.sinfool.searchbarjustifiedplaceholdertextiealignleft
Name: Search Bar - Justified Placeholder Text (i.e. Align Left)
Author: Sinfool
Description: Always aligns the search bar placeholder text within apps to the left margin. Always aligns the search bar placeholder text within apps to the left margin.
 .
 [v.1] Tested with an iPad mini 4 10.2.  (8-20-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 39033
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
