Package: com.sinfool.lsncfadeouttimedateshowtimeonstatusbarwhenscrollingnotifications
Name: LS/NC - Fade Out Time & Date + Show Time On Status Bar When Scrolling Notifications
Author: Sinfool
Description: Fades out the LS/NC time & date when scrolling notifications and instead, shows the time on the status bar. Fades out the LS/NC time & date when scrolling notifications and instead, shows the time on the status bar.
 .
 [v.1] Tested with an iPad mini2 on 11.1.2.  (5-13-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42314
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
