Package: com.sinfool.disablefavoritesbuttonaction
Name: Disable Favorites "♡" Button Action  ₉₋₃₀₋₁₆
Author: Sinfool
Description: Disables the Favorites "♡" button action. Disables the Favorites "♡" button action.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (9-30-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31463
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobileslideshow
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.3-1
Installed-Size: 136
