Package: com.sinfool.statusbarnolastappbreadcrumbtitle
Name: Status Bar - No Last App/Breadcrumb Title
Author: Sinfool
Description: Removes the last app title from the status bar. Removes the last app title from the status bar.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (3-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 35660
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
