Package: com.sinfool.navbarhideleftrighttitlebuttons
Name: Nav Bar - Hide Left & Right Title Buttons  ₁₂₋₁₃₋₁₆
Author: Sinfool
Description: Hides the left & right title buttons from the navigation bar (i.e. Edit, Compose, Messages, Details etc) while retaining their functionality. Hides the left & right title buttons from the navigation bar (i.e. Edit, Compose, Messages, Details etc) while retaining their functionality.
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via cloud comments.  (12-13-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 32666
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
