Package: com.sinfool.lsncnoslideformoretext
Name: LS/NC - No "Slide for more" Text
Author: Sinfool
Description: Removes the "Slide for more" text from notifications on the LS and in NC. Removes the "Slide for more" text from notifications on the LS and in NC.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (3-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 35668
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
