Package: com.sinfool.customappbarcolorios11
Name: Custom App Bar Color (iOS 11)
Author: Sinfool
Description: Changes the color of the bottom app bar in the Messages app.  Change the color to your liking. Changes the color of the bottom app bar in the Messages app.  Change the color to your liking.
 .
 ⚑ UPDATES:
 (5-24-18) *Initial release
 (5-24-18) *Removed selected button BG
 .
 [v.2] Tested with an iPad mini2 on 11.1.2.  Made as a request via r/jailbreak user /u/rodzi11a.  (5-24-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42415
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
