Package: com.sinfool.disablegamecenter
Name: Disable Game Center
Author: Sinfool
Description: Disables Game Center. Disables Game Center.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (3-27-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 36302
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
