Package: com.sinfool.notimestamps
Name: No Time Stamps  ₁₀₋₂₉₋₁₅
Author: Sinfool
Description: Removes Time Stamps (& other labels).  By default, I didn't remove info labels, i.e. "Delivered, Loading Messages..." etc.  Use the "Info Labels" entry to remove them. Removes Time Stamps (& other labels).  By default, I didn't remove info labels, i.e. "Delivered, Loading Messages..." etc.  Use the "Info Labels" entry to remove them.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (10-29-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25914
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
