Package: com.sinfool.lswallpapercolor
Name: LS - Wallpaper Color
Author: Sinfool
Description: Changes the color of the wallpaper on the lock screen.  Change the color to your liking. Changes the color of the wallpaper on the lock screen.  Change the color to your liking.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-7-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34296
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
