Package: com.sinfool.nobanneradnopopup
Name: No Banner Ad & No Pop-Up
Author: Sinfool
Description: Removes upgrade pop-up & the banner ad. Removes upgrade pop-up & the banner ad. patchID: 12035
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apsquared.tvfoodmaps
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
