Package: com.sinfool.animationsnolstoappzoominanimation
Name: Animations - No LS to App Zoom In Animation
Author: Sinfool
Description: Removes the LS to App zoom in animation when unlocking. Removes the LS to App zoom in animation when unlocking.
 .
 [v.1] Tested with app version 10.2.  Made as a request via Reddit user u/Asohailwahab.  (9-12-17).
 .
 ☞PayPal:  goin730@gmail.com patchID: 39324
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
