Package: com.sinfool.tabbaralternateimage
Name: Tab Bar • Alternate Image  ₇₋₁₅₋₁₅
Author: Sinfool
Description: Makes unselected tab bar images solid... just like selected images.  Tested with iP6+ 8.4.  (7-15-15) Makes unselected tab bar images solid... just like selected images.  Tested with iP6+ 8.4.  (7-15-15)
 .
 ● If you enjoy my patches, please consider sending a donation...
 .
 ☞PayPal:  goin730@gmail.com patchID: 22833
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilephone
Homepage: https://ipadkid.cf/sinfool/index.html
