Package: com.sinfool.iphoneuistyleipads
Name: iPhone UI Style (iPads)
Author: Sinfool
Description: Changes the iPad layout style into the iPhone UI style.  This patch is only useful for iPad users. Changes the iPad layout style into the iPhone UI style.  This patch is only useful for iPad users.
 .
 [v.1] Tested with an iPad mini 4 10.2.  (9-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 39274
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.camera
Homepage: https://ipadkid.cf/sinfool/index.html
