Package: com.sinfool.kbnolanguagechangereminder
Name: KB - No Language Change Reminder  ₂₋₆₋₁₇
Author: Sinfool
Description: Prevents your current keyboard language from flashing on the space bar after pressing the emoji/globe key or changing languages. Prevents your current keyboard language from flashing on the space bar after pressing the emoji/globe key or changing languages.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (2-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34231
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
