Package: com.sinfool.disabledatetimepicker
Name: Disable "Date & Time" Picker  ₂₋₁₁₋₁₆
Author: Sinfool
Description: Disables the ability to manually change the date & time by making the scrolling picker wheel blank. Disables the ability to manually change the date & time by making the scrolling picker wheel blank.
 .
 Useful for those who want to prevent accidental (or purposeful) changing of your current date/time.  Made after reading the recent post on r/jailbreak which indicated that setting your date to Jan 1, 1970 will permanently brick 64-bit iOS devices.  
 .
 [v.1] Tested with an iP6+ 9.0.2.  (2-11-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 27709
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.Preferences
Homepage: https://ipadkid.cf/sinfool/index.html
