Package: com.sinfool.disableconnectedtopowervibratesound
Name: Disable Connected To Power & Vibrate Sound
Author: Sinfool
Description: Disables the power & vibrate sound when connected to a power source or respringing.  This patch is similar to the tweak "NoRespringChirp". Disables the power & vibrate sound when connected to a power source or respringing.  This patch is similar to the tweak "NoRespringChirp".
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34431
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
