Package: com.sinfool.buttondisablerheadsetmiddlebuttontripleclickios10
Name: ButtonDisabler - Headset Middle Button (Triple Click) (iOS 10)
Author: Sinfool
Description: Disables the headset middle button triple click action. Disables the headset middle button triple click action.
 .
 *Useful if you have broken buttons which trigger inadvertently.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (6-26-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38303
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
