Package: com.sinfool.mutedialerkeypresssound
Name: Mute Dialer Key Press Sound
Author: Sinfool
Description: Mutes dialer key press sound. (4-26-14) Mutes dialer key press sound. (4-26-14) patchID: 10538
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilephone
Homepage: https://ipadkid.cf/sinfool/index.html
