Package: com.sinfool.sideswitchershowonfirstswipe
Name: Side Switcher - Show On First Swipe
Author: Sinfool
Description: Shows the multitasking side switcher on first swipe thereby eliminating the grabber.  The grabber is normally shown first if the screen isn't swiped directly from the center but this patch will prevent that from happening. Shows the multitasking side switcher on first swipe thereby eliminating the grabber.  The grabber is normally shown first if the screen isn't swiped directly from the center but this patch will prevent that from happening.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-8-18)
 .
 ☞PayPal:  goin730@gmail.com patchID: 40795
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
