Package: com.sinfool.enableredeyeremoverediting
Name: Enable Red Eye Remover Editing	  ₁₁₋₂₁₋₁₆
Author: Sinfool
Description: Enables red eye remover editing for all photos. Enables red eye remover editing for all photos.
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (11-21-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 32238
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobileslideshow
Homepage: https://ipadkid.cf/sinfool/index.html
