Package: com.sinfool.hshideicons
Name: HS - Hide Icons
Author: Sinfool
Description: Hides all icons from the homescreen (& inside folders) leaving just the labels.  Also removes the open folder background. Hides all icons from the homescreen (& inside folders) leaving just the labels.  Also removes the open folder background.
 .
 UPDATES:
 (10-23-17) *Initial release
 (10-23-17) *Removed open folder BG
 .
 [v.2] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak user /u/UglyGuy1988.  (10-23-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 39809
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
