Package: com.sinfool.fasterstartup
Name: Faster Startup
Author: Sinfool
Description: Helps start the app faster.  (8-13-14) Helps start the app faster.  (8-13-14) patchID: 12363
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.discovery.dscipadbottle
Homepage: https://ipadkid.cf/sinfool/index.html
