Package: com.sinfool.animationsnostatusbarblinkingwhenunlocking
Name: Animations - No Status Bar Blinking When Unlocking  ₈₋₂₄₋₁₆
Author: Sinfool
Description: Disables the status bar animation (blinking) when transitioning from the LS to the HS. Disables the status bar animation (blinking) when transitioning from the LS to the HS.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (8-24-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 30639
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
