Package: com.sinfool.alwaysshowplayerbarv1311
Name: Always Show Player Bar (v. 13.11)
Author: Sinfool
Description: Always show the player bar when playing video. Always show the player bar when playing video.
 .
 [v.1] Tested with YouTube version 13.11.  Requested by /u/GeicoPR.  (3-26-18)
 .
 ☞PayPal:  goin730@gmail.com patchID: 41639
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.google.ios.youtube
Homepage: https://ipadkid.cf/sinfool/index.html
