Package: com.sinfool.cchighlightcolor
Name: CC - Highlight Color
Author: Sinfool
Description: Changes the color of the following control center elements...  Set the color to your liking... Changes the color of the following control center elements...  Set the color to your liking...
 .
 - Toggles (On Glyph)
 - Sliders
 - Slider Glyphs (When Adjusting)
 - Button Glyphs (Selected) i.e. Clock, Camera, Media Player etc.
 .
 ⚠️IMPORTANT:  This patch depends on ≥ Flex 3 beta version 3~beta36.  Please add "http://getdelta.co/" to your Cydia repo sources and install the beta version before downloading this patch.
 .
 [v.1] Tested with an iPad mini 4 10.2.  (10-5-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 39617
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
