Package: com.sinfool.ccdisabletaptoopennowplayingsong
Name: CC - Disable Tap "to open" Now Playing Song  ₄₋₁₇₋₁₆
Author: Sinfool
Description: Disables the tap "to open" now playing song function in control center. Disables the tap "to open" now playing song function in control center.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (4-17-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28482
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
