Package: com.sinfool.noadsv540
Name: No Ads (v. 5.4.0)  ₁₋₂₇₋₁₆
Author: Sinfool
Description: Removes ads.  Made as a request. Removes ads.  Made as a request.
 .
 [v.1] Tested with version 5.4.0.  (1-27-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 27475
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/iphone.thescore.com
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
