Package: com.sinfool.lsnonowplaying
Name: LS - No Now Playing
Author: Sinfool
Description: Removes the now playing view from the lock screen (i.e. media controls & album artwork). Removes the now playing view from the lock screen (i.e. media controls & album artwork).
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-1-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 33949
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
