Package: com.sinfool.bannersdisabletaptoopenapp
Name: Banners - Disable Tap To Open App
Author: Sinfool
Description: Disables the tap "to open" app gesture/action for all banner notifications.  Useful if you want to prevent this native iOS feature. Disables the tap "to open" app gesture/action for all banner notifications.  Useful if you want to prevent this native iOS feature.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (6-22-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38265
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
