Package: com.sinfool.nosearchingnetworkbanner
Name: No "Searching network..." Banner
Author: Sinfool
Description: Removes the "Searching network..." banner displayed when internet connection is disabled.  Tested with version 3.9.4.  (6-1-15)  *(6-15-15) Corrected method Removes the "Searching network..." banner displayed when internet connection is disabled.  Tested with version 3.9.4.  (6-1-15)  *(6-15-15) Corrected method patchID: 21437
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.waze.iphone
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
