Package: com.sinfool.kbdisablecustomreturnkey
Name: KB - Disable/Custom Return Key  ₁₂₋₄₋₁₅
Author: Sinfool
Description: Disables/Customizes the return key as listed below.  By default, the return key is only disabled. Disables/Customizes the return key as listed below.  By default, the return key is only disabled.
 .
 - Disable
 - Disable Highlight Text
 - Custom "return" Text
 - Blue Button Color
 .
 [v.1]  Made as a request via r/jailbreak.  (12-4-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26736
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.facebook.Messenger
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
