Package: com.sinfool.kbipadprostyle
Name: KB - iPad Pro Style
Author: Sinfool
Description: Enables the iPad Pro style keyboard on standard iPads. Enables the iPad Pro style keyboard on standard iPads.
 .
 NOTE: I recommend using this patch along with the patch titled "KB - Custom Long Key Press Delay".
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34223
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
