Package: com.sinfool.spotlighthssearchicontopagedot
Name: Spotlight - HS Search Icon To Page Dot  ₁₂₋₁₂₋₁₅
Author: Sinfool
Description: Changes the home screen search icon to a standard page dot. Changes the home screen search icon to a standard page dot.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (12-12-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26891
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
