Package: com.sinfool.easiertextselection
Name: Easier Text Selection
Author: Sinfool
Description: Makes selecting text easier by disabling text selection assistance within web pages. Makes selecting text easier by disabling text selection assistance within web pages.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-3-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34039
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.3
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
