Package: com.sinfool.statusbarhiderotationlockicon
Name: Status Bar - Hide Rotation Lock Icon  ₁₀₋₁₇₋₁₅
Author: Sinfool
Description: Hides the rotation lock icon from the status bar.  Made as a request via r/flextweak. Hides the rotation lock icon from the status bar.  Made as a request via r/flextweak.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-17-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25156
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
