Package: com.sinfool.lsncdisablewidgetselectionios11
Name: LS/NC - Disable Widget Selection (iOS 11)
Author: Sinfool
Description: Disables the selection action for widgets on the today view pages of the LS & NC. Disables the selection action for widgets on the today view pages of the LS & NC.
 .
 Useful if you want to prevent widgets from opening up apps etc.
 .
 [v.1] Tested with an iPad mini2 on 11.1.2.  Made as a request via Flex comments for user "mystrd4".  (5-13-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42312
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
