Package: com.sinfool.kbnoreturnkeystyling
Name: KB - No Return Key Styling  ₉₋₆₋₁₆
Author: Sinfool
Description: Disables return key styling, i.e. changing to blue etc. Disables return key styling, i.e. changing to blue etc.
 .
 [v.1] Tested with an iP6 9.3.3.  Made as a request via r/jailbreak.  (9-6-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31009
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
