Package: com.sinfool.alertsmergenocancelbutton
Name: Alerts - Merge/No Cancel Button  ₁₀₋₁₉₋₁₅
Author: Sinfool
Description: Removes or merges the cancel button from alert sheets. Removes or merges the cancel button from alert sheets.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-19-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25382
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
