Package: com.sinfool.bannersnotouchcancelreply
Name: Banners - NoTouchCancelReply  ₁₂₋₁₂₋₁₅
Author: Sinfool
Description: Disables the 'tap to dismiss' area below quick reply banners.  Useful if you find yourself accidentally dismissing the QR banner by tapping below it. Disables the 'tap to dismiss' area below quick reply banners.  Useful if you find yourself accidentally dismissing the QR banner by tapping below it.
 .
 NOTE:  This patch has no affiliation with the tweak/dev of NoTouchCancelReply.
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (12-12-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26879
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
