Package: com.sinfool.disableautozoomfullphotos
Name: Disable Auto Zoom (Full Photos)  ₁₀₋₁₉₋₁₆ ⚑
Author: Sinfool
Description: Disables auto zoom of photos when scrolling etc. so full images can be seen without having to pinch or double tap. Disables auto zoom of photos when scrolling etc. so full images can be seen without having to pinch or double tap.
 .
 ⚑ UPDATES:
 (10-18-16) *Initial release
 (10-19-16) *Added 9.x support
 .
 [v.2] Tested with an iP6+ 9.3.3 & iP5 9.0.2.  Made as a request via r/jailbreak.  (10-19-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31738
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobileslideshow
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
