Package: com.sinfool.noseparatorseditmenu
Name: No Separators (Edit Menu)  ₁₀₋₃₀₋₁₆
Author: Sinfool
Description: Removes the separators from the edit menu (i.e. Cut, Copy, Paste etc). Removes the separators from the edit menu (i.e. Cut, Copy, Paste etc).
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-30-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31843
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
