Package: com.sinfool.nostartupad
Name: No Startup Ad
Author: Sinfool
Description: Removes the video startup ad.  (8-13-14) Removes the video startup ad.  (8-13-14) patchID: 12360
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.5
Icon: file:///private/var/mobile/Library/Sinfool/com.nbcuni.nbc.portal
Homepage: https://ipadkid.cf/sinfool/index.html
