Package: com.sinfool.redbrowserbar
Name: Red Browser Bar  ₃₋₃₁₋₁₆
Author: Sinfool
Description: Gives the URL browser bar a red color (i.e. like when you visit a suspicious website). Gives the URL browser bar a red color (i.e. like when you visit a suspicious website).
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (3-31-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28309
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilesafari
Homepage: https://ipadkid.cf/sinfool/index.html
