Package: com.sinfool.nosendbutton
Name: No "Send" Button  ₁₀₋₂₉₋₁₅ 
Author: Sinfool
Description: Removes the "Send" button. Removes the "Send" button.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (10-29-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25911
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
