Package: com.sinfool.lsshowtimeonstatusbar
Name: LS - Show Time On Status Bar  ₁₁₋₂₆₋₁₅
Author: Sinfool
Description: Shows the Time on the LS Status Bar (& hides the NC grabber). Shows the Time on the LS Status Bar (& hides the NC grabber).
 .
 [v.1] Tested with an iP6+ 9.0.2.  (11-26-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26575
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
