Package: com.sinfool.nosplitviewfulllandscape
Name: No Split View (Full Landscape)  ₁₋₃₁₋₁₆ ⚑
Author: Sinfool
Description: Disables native split view.  Provides a full screen view in landscape. Disables native split view.  Provides a full screen view in landscape.
 .
 [v.2] Tested with an iP6+ 9.0.2.  (1-31-16)
 .
 ⚑ UPDATES:
 (10-27-15) *Initial release
 (1-31-16) *Fixed rotation issues
 .
 ☞PayPal:  goin730@gmail.com patchID: 25825
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.3-1
Installed-Size: 168
