Package: com.sinfool.spotlightnofooteritems
Name: Spotlight - No Footer Items
Author: Sinfool
Description: Removes the footer items (i.e. the "Edit" button, "New Widgets Available" text, and the "Weather information..." text) from the Spotlight/Today View sections.  Simply disable this patch whenever you need access to them. Removes the footer items (i.e. the "Edit" button, "New Widgets Available" text, and the "Weather information..." text) from the Spotlight/Today View sections.  Simply disable this patch whenever you need access to them.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (5-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 37482
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
