Package: com.sinfool.blueballoons
Name: Blue Balloons  ₄₋₁₀₋₁₅
Author: Sinfool
Description: Changes stock Green & Gray colored Balloons to Blue.  By default, I didn't change the Gray Balloon's Black Text color.  Use the "White Text (left balloon)" entry to make it white.  Made as a request via r/flextweak.  Tested with an iP6+ 8.1.  (4-10-15) Changes stock Green & Gray colored Balloons to Blue.  By default, I didn't change the Gray Balloon's Black Text color.  Use the "White Text (left balloon)" entry to make it white.  Made as a request via r/flextweak.  Tested with an iP6+ 8.1.  (4-10-15)
 .
 ● If you enjoy my patches, please consider sending a donation...
 .
 ☞PayPal:  goin730@gmail.com patchID: 20435
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
