Package: com.sinfool.lscentertimedate
Name: LS - Center Time & Date
Author: Sinfool
Description: Centers the Time & Date view on the lock screen and "Today View" page. Centers the Time & Date view on the lock screen and "Today View" page.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (2-17-17)
 .
 ☞PayPal:  goin730@gmail patchID: 34769
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
