Package: com.sinfool.noiconlabels
Name: No Icon Labels  ₁₀₋₁₆₋₁₅
Author: Sinfool
Description: Removes all icon labels from the homescreen. Removes all icon labels from the homescreen.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-16-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25089
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
