Package: com.sinfool.docknobackgroundwithnowhiteline71x
Name: Dock - No Background with No White Line (7.1.x)
Author: Sinfool
Description: Disables the Dock blurred background and removes the white transverse line above the dock.	(7.1.x) Disables the Dock blurred background and removes the white transverse line above the dock.	(7.1.x)
 .
 NOTE: The other patch to remove the dock blur for ios7 doesn't work so I made this one.  patchID: 11738
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
