Package: com.sinfool.lsncnostatusbarios11
Name: LS/NC - No Status Bar (iOS 11)
Author: Sinfool
Description: Hides the lockscreen & notification center status bar. Hides the lockscreen & notification center status bar.
 .
 [v.1] Tested on an iPad mini2 11.1.2.  (4-30-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42149
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
