Package: com.sinfool.spotlightopenwithkb
Name: Spotlight - Open With KB  ₁₀₋₂₆₋₁₅
Author: Sinfool
Description: Automatically shows the keyboard when opening spotlight. Automatically shows the keyboard when opening spotlight.
 .
 [v.1] Made as a request via r/jailbreak.  Tested with an iPad mini2 & iP6+ 9.0.2.  (10-26-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25761
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
