Package: com.sinfool.ccbettersliderscrubbing
Name: CC - Better Slider Scrubbing
Author: Sinfool
Description: Prevents control center pages from moving when adjusting sliders thereby providing a better scrubbing experience. Prevents control center pages from moving when adjusting sliders thereby providing a better scrubbing experience.
 .
 [v.1] Tested with an iPad mini 4 10.2.  Made as a request via r/jailbreak user /u/Asohailwahab.  (9-25-17) patchID: 39494
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
