Package: com.sinfool.disablesoftwareupdatetab
Name: Disable "Software Update Tab"  ₁₀₋₁₈₋₁₅
Author: Sinfool
Description: Disables the "Software Update" preference tab located @Settings>General. Disables the "Software Update" preference tab located @Settings>General.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-18-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25191
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.Preferences
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
