Package: com.sinfool.noscreenshotflash
Name: No Screenshot Flash  ₁₀₋₁₇₋₁₆
Author: Sinfool
Description: No screenshot flash. No screenshot flash.
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-17-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31730
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
