Package: com.sinfool.alwaysopenwithspecifictab
Name: Always Open With Specific Tab  ₁₀₋₂₆₋₁₆
Author: Sinfool
Description: Always open the phone app to a specific tab. Always open the phone app to a specific tab.
 .
 By default, I have it set to open to the "Recents" tab but you can change it to open with any tab you choose using the following values...
 .
 • Favorites = "1"
 • Recents = "2"
 • Contacts = "3"
 • Keypad = "4"
 • Voicemail = "5"
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-26-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31808
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilephone
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
