Package: com.sinfool.buttondisablervolumebuttonsbothios10
Name: ButtonDisabler - Volume Buttons (Both) (iOS 10)
Author: Sinfool
Description: Disables both volume up & down buttons. Disables both volume up & down buttons.
 .
 *Useful if you have broken volume buttons which trigger inadvertently.
 .
 ⚠️ NOTE:  I suggest using Activator events/gestures (maybe slide up/down along screen edge to increase/decrease volume increments.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (6-26-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38299
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
