Package: com.sinfool.ccnotogglebuttonstatetextairplayairdropnightshift
Name: CC - No Toggle Button State Text (Airplay, AirDrop, Night Shift)
Author: Sinfool
Description: Removes the toggle button state text (i.e. AirPlay, AirDrop, Night Shift etc) from control center.  Gives the buttons a cleaner appearance. Removes the toggle button state text (i.e. AirPlay, AirDrop, Night Shift etc) from control center.  Gives the buttons a cleaner appearance.
 .
 TIP:  Looks good with "CC - Larger Toggle Button Text (Airplay, AirDrop, Night Shift)".
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-17-17)
 .
 ☞PayPal:  goin730@gmail patchID: 34766
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
