Package: com.sinfool.spotlightnotouchdismiss
Name: Spotlight - NoTouchDismiss  ₁₂₋₁₂₋₁₅
Author: Sinfool
Description: Disables spotlight's tap to dismiss action.  Useful to help prevent accidental dismissal of spotlight. Disables spotlight's tap to dismiss action.  Useful to help prevent accidental dismissal of spotlight.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (12-12-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26883
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
