Package: com.sinfool.alertsnobackdrop
Name: Alerts - No Backdrop  ₁₀₋₁₉₋₁₅
Author: Sinfool
Description: Removes the background/backdrop from alerts sheets & the cancel button. Removes the background/backdrop from alerts sheets & the cancel button.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-19-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25385
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.3
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
