Package: com.sinfool.nostatusbarv38117
Name: No Status Bar (v. 3.8.117)  ₃₋₂₈₋₁₆
Author: Sinfool
Description: Removes the status bar. Removes the status bar.
 .
 [v.1] Tested with (v. 3.8.117).  Made as a request.  (3-28-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28282
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.google.PlayMusic
Homepage: https://ipadkid.cf/sinfool/index.html
