Package: com.sinfool.aiofasterstartupnobannerprerolladscommercialsratemeforcedupdatever241162
Name: [AIO] Faster Startup, No Banner/Preroll Ads/Commercials/Rate Me/Forced Update (ver. 2.4.1162)
Author: Sinfool
Description: All in one patch for the CW app. Tap the play button once video is queued.  Made as a request via r/flextweak.  Tested with ver. 2.4.1162.  (5-5-15) All in one patch for the CW app. Tap the play button once video is queued.  Made as a request via r/flextweak.  Tested with ver. 2.4.1162.  (5-5-15)
 .
 • Faster Startup
 • No Banner Ads
 • No Preroll Ads
 • No Commercials
 • No Rate Me
 • No Forced Update  patchID: 20998
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.cw.fullepisodes.ios
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
