Package: com.sinfool.hideairplayui
Name: Hide AirPlay UI  ₁₀₋₁₋₁₅
Author: Sinfool
Description: Disables visual aspects of AirPlay (i.e. icons, buttons etc) while optionally still retaining AirPlay functionality via CC.  By default, the CC AirPlay button is always visible however you can remove it & all indications of AirPlay by disabling the "CC Visibility" entry below. Disables visual aspects of AirPlay (i.e. icons, buttons etc) while optionally still retaining AirPlay functionality via CC.  By default, the CC AirPlay button is always visible however you can remove it & all indications of AirPlay by disabling the "CC Visibility" entry below.
 .
 This patch is useful if (1) you don't like seeing AirPlay icons within apps or (2) you don't use AirPlay. 
 .
 [v.1] Tested with iP6+ 8.4.  Made after reading a recent request via r/jailbreak.  (10-1-15)
 .
 ★ If you'd like to donate, please send money to...
 .
 ☞PayPal:  goin730@gmail.com patchID: 24785
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
