Package: com.sinfool.nocontactsphotoduringcall
Name: No Contacts Photo During Call
Author: Sinfool
Description: No contact photo/wallpaper during call.  Instead, shows your home screen wallpaper. No contact photo/wallpaper during call.  Instead, shows your home screen wallpaper. patchID: 9670
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilephone
Homepage: https://ipadkid.cf/sinfool/index.html
