Package: com.sinfool.disableiconeditmode
Name: Disable Icon Edit Mode  ₂₋₂₁₋₁₆
Author: Sinfool
Description: Disables icon edit mode. Disables icon edit mode.
 .
 [v.1] Tested with an iP5 9.0.2.  (2-21-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 27816
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
