Package: com.sinfool.ncnotodayview
Name: NC - No Today View
Author: Sinfool
Description: Disables the today view page from NC. Disables the today view page from NC.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (7-12-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38536
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
