Package: com.sinfool.nobannerad
Name: No Banner Ad
Author: Sinfool
Description: Removes banner ad. Removes banner ad. patchID: 13035
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.farlex.Dictionary
Homepage: https://ipadkid.cf/sinfool/index.html
