Package: com.sinfool.lskeepalbumartworkwhenreceivingnotifications
Name: LS - Keep Album Artwork When Receiving Notifications
Author: Sinfool
Description: Prevents the album artwork from disappearing when receiving a notification. Prevents the album artwork from disappearing when receiving a notification.
 .
 NOTE: The artwork will still disappear if you attempt to open the notification or rotate the device.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34366
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
