Package: com.sinfool.removechatheadavatars
Name: Remove Chat Head Avatars
Author: Sinfool
Description: Removes chat head avatars from the conversation list and the nav bar. Removes chat head avatars from the conversation list and the nav bar.
 .
 NOTE: This patch is only useful for smaller devices which don't already have the stock iOS toggle @Settings>Messages>Show Contact Photos.
 .
 [v.2] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (3-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 35709
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
