Package: com.sinfool.disablescreenshowwhenconnectedtopower
Name: Disable Screen Show When Connected To Power
Author: Sinfool
Description: Disables the screen from waking when connecting (or disconnecting) to a power source. Disables the screen from waking when connecting (or disconnecting) to a power source.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34430
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
