Package: com.sinfool.hidestatusbarappswitchercards
Name: Hide Status Bar (App Switcher Cards)  ₂₋₂₇₋₁₅
Author: Sinfool
Description: Hides the status bar view for all preview cards in the app switcher.  Tested on iP6+ 8.1.  (2-27-15) Hides the status bar view for all preview cards in the app switcher.  Tested on iP6+ 8.1.  (2-27-15) patchID: 19129
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
