Package: com.sinfool.enablepodcastsvideosonipads
Name: Enable Podcasts & Videos On iPads
Author: Sinfool
Description: Enables podcasts & videos on iPads. Enables podcasts & videos on iPads.
 .
 [v.1] Tested with app version 8.4.1.772.  Made as a request via r/jailbreak.  (5-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 37495
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.spotify.client
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
