Package: com.sinfool.nocommercialsv201
Name: No Commercials (v. 2.0.1)  ₅₋₁₁₋₁₆
Author: Sinfool
Description: Removes commercials from the Spike TV app. Removes commercials from the Spike TV app.
 .
 [v.1] Tested with version 2.0.1.   Made as a request via r/flextweak.  (5-11-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28670
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.mtvn.SPIKE
Homepage: https://ipadkid.cf/sinfool/index.html
