Package: com.sinfool.statusbarnobreadcrumbsios11
Name: Status Bar - No Breadcrumbs (iOS 11)
Author: Sinfool
Description: Disables breadcrumbs (i.e. last opened app buttons) from being displayed on the far left & right sides of the status bar. Disables breadcrumbs (i.e. last opened app buttons) from being displayed on the far left & right sides of the status bar.
 .
 [v.1] Tested with an iPad mini2 on 11.1.2.  Made as a request via r/jailbreak user /u/Aceezy.  (5-20-18)
 .
 ☞Donations:  paypal.me/goin730 patchID: 42388
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
