Package: com.sinfool.activityindicatorcolorios7
Name: Activity Indicator Color (iOS 7)
Author: Sinfool
Description: Changes the color of the Activity Indicator wheel located on the status bar and in some apps. Changes the color of the Activity Indicator wheel located on the status bar and in some apps. patchID: 15100
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
