Package: com.sinfool.lsccmediacontrolscentervolumeslider
Name: LS/CC (Media Controls) - Center Volume Slider  ₄₋₁₇₋₁₆
Author: Sinfool
Description: Cosmetically centers the volume slider to 50% on the lock screen & in control center. Cosmetically centers the volume slider to 50% on the lock screen & in control center.
 .
 ⚑ UPDATES:
 (4-4-16) *Initial release
 (4-17-16) *Changed the title from "LS/CC - Center Volume Slider" to "LS/CC (Media Controls) - Center Volume Slider"
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (4-17-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28353
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
