Package: com.sinfool.ncsingletaptoclear
Name: NC - Single Tap To Clear
Author: Sinfool
Description: Clears notifications with a single tap. Clears notifications with a single tap.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-22-17)
 .
 ☞PayPal:  goin730@gmail patchID: 35018
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
