Package: com.sinfool.lshidetimedatetodayview
Name: LS - Hide Time & Date (Today View)
Author: Sinfool
Description: Hides the Time & Date from the "Today View" on the lock screen. Hides the Time & Date from the "Today View" on the lock screen.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-7-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34293
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
