Package: com.sinfool.notophitsbookmarksandhistorysuggestions
Name: No "Top Hits" & "Bookmarks and History" Suggestions  ₉₋₃₀₋₁₆
Author: Sinfool
Description: Removes the "Top Hits" & "Bookmarks and History" suggestions/sections when typing in the URL field. Removes the "Top Hits" & "Bookmarks and History" suggestions/sections when typing in the URL field.
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (9-30-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31460
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilesafari
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
