Package: com.sinfool.entryfieldbuttonscolor
Name: Entry Field Buttons Color
Author: Sinfool
Description: Changes the color of the entry field buttons (i.e. >, Camera, Touch, AppStore, Send etc).  Change the color to your liking. Changes the color of the entry field buttons (i.e. >, Camera, Touch, AppStore, Send etc).  Change the color to your liking.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-8-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34351
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
