Package: com.sinfool.bannersstickynotifications
Name: Banners - Sticky Notifications
Author: Sinfool
Description: Forces the notification banner to remain visible until one of the following happens... Forces the notification banner to remain visible until one of the following happens...
 .
 (1)  Banner is manually dismissed
 (2)  Current screen is left
 (3)  Device is locked
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-5-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34208
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
