Package: com.sinfool.disablereturnkeyios8
Name: Disable Return Key (iOS 8)  ₂₋₂₈₋₁₅
Author: Sinfool
Description: Disables the return key.  Tested with an iP6+ 8.1.  (2-28-15) Disables the return key.  Tested with an iP6+ 8.1.  (2-28-15)
 .
 ● If you enjoy my patches, please consider sending a donation...
 .
 ☞PayPal:  goin730@gmail.com patchID: 19234
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
