Package: com.sinfool.removedlfilelimit
Name: Remove DL File Limit
Author: Sinfool
Description: Removes DL file limit. Removes DL file limit. patchID: 6573
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apps4stars.idlfree
Homepage: https://ipadkid.cf/sinfool/index.html
