Package: com.sinfool.statusbarforceshowinlandscape
Name: Status Bar - Force Show In Landscape  ₁₋₂₉₋₁₆
Author: Sinfool
Description: Forces the status bar to show when rotated in landscape. Forces the status bar to show when rotated in landscape.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (1-29-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 27541
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilenotes
Homepage: https://ipadkid.cf/sinfool/index.html
