Package: com.sinfool.nocamerashuttersound
Name: No Camera Shutter Sound  ₁₀₋₁₇₋₁₅
Author: Sinfool
Description: Disables the camera shutter sound. Disables the camera shutter sound.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-17-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25174
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
