Package: com.sinfool.alertsnoseparators
Name: Alerts - No Separators
Author: Sinfool
Description: Removes separators from alert sheets. Removes separators from alert sheets.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (4-4-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 36531
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
