Package: com.sinfool.autodismisslandscapebookmarkpanel
Name: Auto Dismiss Landscape Bookmark Panel  ₃₋₁₄₋₁₆
Author: Sinfool
Description: When in landscape orientation, automatically dismisses the bookmark panel after selecting a bookmark. When in landscape orientation, automatically dismisses the bookmark panel after selecting a bookmark.
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request r/jailbreak.  (3-14-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28102
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilesafari
Homepage: https://ipadkid.cf/sinfool/index.html
