Package: com.sinfool.lshideunlockchevron
Name: LS - Hide Unlock Chevron  ₁₀₋₁₅₋₁₅
Author: Sinfool
Description: Hides the slide to unlock ">" chevron from the lockscreen. Hides the slide to unlock ">" chevron from the lockscreen.
 .
 [v.1] Tested with an iP5 9.0.2.  (10-15-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25026
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
