Package: com.sinfool.removeunlockbannerinfobutton
Name: Remove Unlock Banner & Info Button 
Author: Sinfool
Description: Removes the unlock banner & the "i"/(info) button. Removes the unlock banner & the "i"/(info) button. patchID: 11793
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.ahfarmer.ultratext
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
