Package: com.sinfool.squareballoonswroundattachments
Name: Square Balloons (w/Round Attachments)  ₁₀₋₂₇₋₁₅
Author: Sinfool
Description: Makes balloon corners square with round attachments. Makes balloon corners square with round attachments.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (10-27-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25831
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
