Package: com.sinfool.nostatusbarforegroundver325332
Name: No Status Bar - Foreground (ver. 3.2.5 - 3.3.2)  ₁₁₋₁₂₋₁₅ ⚑
Author: Sinfool
Description: Removes Status Bar and/or Foreground.  By default, only the foreground is removed.	To remove the status bar entirely, change the second entry to TRUE (looks best w/iPad). Removes Status Bar and/or Foreground.  By default, only the foreground is removed.	To remove the status bar entirely, change the second entry to TRUE (looks best w/iPad).
  
 [v.2] Tested with versions 3.2.5 - 3.3.2 on an iP6+ 9.0.2.  (11-11-15)
 .
 ⚑ UPDATES:
 (10-21-14) *Initial release
 (11-12-15) *Fixed foreground on iOS 9
 .
 ☞PayPal:  goin730@gmail.com patchID: 11537
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.songza.Songza
Homepage: https://ipadkid.cf/sinfool/index.html
