Package: com.sinfool.textcolor
Name: Text Color  ₈₋₁₁₋₁₅
Author: Sinfool
Description: Changes colors of the following text in the composition field...  Change the colors to your liking.  Made as a request via r/jailbreak. Changes colors of the following text in the composition field...  Change the colors to your liking.  Made as a request via r/jailbreak.
 .
 • Date
 • Text Input
 .
 [v.1] Tested w/iP6+ 8.4.  (8-11-15)
 .
 ★ If you'd like to donate via PayPal, please send money to...
 .
 ☞  goin730@gmail.com patchID: 23732
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilenotes
Homepage: https://ipadkid.cf/sinfool/index.html
