Package: com.sinfool.nobannerad
Name: No Banner Ad
Author: Sinfool
Description: Removes the banner ad. Removes the banner ad. patchID: 12000
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/org.ncnlam.cartoonpro
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
