Package: com.sinfool.animationsnohsccscrollpageanimation
Name: Animations - No HS/CC Scroll Page Animation
Author: Sinfool
Description: Speeds up/removes the scrolling page animation on the home screen and within control center (probably other places too).  You can adjust the variable if you so choose. Speeds up/removes the scrolling page animation on the home screen and within control center (probably other places too).  You can adjust the variable if you so choose.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (8-7-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38872
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
