Package: com.sinfool.noinvitebanner
Name: No Invite Banner
Author: Sinfool
Description: No invite banner.  Briefly tested with version 1.2.2.  Made as a request via r/flextweak.  (3-27-15) No invite banner.  Briefly tested with version 1.2.2.  Made as a request via r/flextweak.  (3-27-15) patchID: 19967
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/me.nextplus.smsfreetext.phonecalls
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
