Package: com.sinfool.kbrapiddelete
Name: KB - Rapid Delete
Author: Sinfool
Description: Speeds up deleting when the "⌫" button is tapped or held.  You can adjust the speed to your liking. Speeds up deleting when the "⌫" button is tapped or held.  You can adjust the speed to your liking.
 .
 [v.2] Tested with an iPad mini 4 on 10.2.  (2-6-17)
 .
 (2-6-17) *Initial release
 (4-12-17) *Added original patch's option of disabling auto word deletion
 .
 ☞PayPal:  goin730@gmail.com patchID: 34221
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
