Package: com.sinfool.passcodenoblur
Name: Passcode - No Blur
Author: Sinfool
Description: Removes the blur from the passcode screen (& lockscreen). Removes the blur from the passcode screen (& lockscreen).
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (11-21-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 40071
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
