Package: com.sinfool.noaudiobutton
Name: No Audio Button  ₁₀₋₂₇₋₁₅
Author: Sinfool
Description: Hides the audio button.  Made as a request via r/flextweak. Hides the audio button.  Made as a request via r/flextweak.
 .
 [v.1] Tested with an iP6+ 9.0.2.  (10-27-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25816
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
