Package: com.sinfool.cellscustomselectionhighlightcolor
Name: Cells - Custom Selection Highlight Color
Author: Sinfool
Description: Allows you to use a custom cell selection color for the Messages app.  Change the color to your liking. Allows you to use a custom cell selection color for the Messages app.  Change the color to your liking.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak user /u/highrup.  (9-14-17).
 .
 ☞PayPal:  goin730@gmail.com patchID: 39357
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
