Package: com.sinfool.bannersnodatelabel
Name: Banners - No Date Label  ₃₋₈₋₁₆
Author: Sinfool
Description: Removes the date label from notification banners. Removes the date label from notification banners.
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request.  (3-8-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 28057
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
