Package: com.sinfool.removeads
Name: Remove Ads
Author: Sinfool
Description: Removes ad when pausing video.  (5-22-14) Removes ad when pausing video.  (5-22-14) patchID: 10880
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.endlesstv.flagship
Homepage: https://ipadkid.cf/sinfool/index.html
