Package: com.sinfool.animationsappopeningscreencolorcustomiable
Name: Animations - App Opening Screen Color (Customizable)
Author: Sinfool
Description: Makes the app opening animation screen show any color of your choice instead of the stock loading screen & current app screen views.  By default, I set the color to black but you can change it to whatever you'd like. Makes the app opening animation screen show any color of your choice instead of the stock loading screen & current app screen views.  By default, I set the color to black but you can change it to whatever you'd like.
 .
 NOTE:  For iOS 10 only.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Requested by /u/akki161014.  (3-29-18)
 .
 ☞PayPal:  goin730@gmail.com patchID: 41718
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
