Package: com.sinfool.enablefeatures
Name: Enable Features
Author: Sinfool
Description: Enables extra features within the Settings menu  (i.e. Remove Ads, Notification Sound & Wallpaper).  Tested (2-21-14) w/version 5.0.5.   Enables extra features within the Settings menu  (i.e. Remove Ads, Notification Sound & Wallpaper).  Tested (2-21-14) w/version 5.0.5.   patchID: 8694
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.enflick.ios.textnow
Homepage: https://ipadkid.cf/sinfool/index.html
