Package: com.sinfool.centerlandscapeviewv43700
Name: Center Landscape View (v. 4.37.0.0)
Author: Sinfool
Description: Centers the directional arrow & highlighted route when in landscape orientation (like it used to be prior to app version 4.31) by disabling the new off-center right sided landscape view. Centers the directional arrow & highlighted route when in landscape orientation (like it used to be prior to app version 4.31) by disabling the new off-center right sided landscape view.
 .
 Useful for those annoyed by this new "feature".
 .
 ⚑ UPDATES:
 (4-23-18) *Initial release
 (4-24-18) *Corrected navigation bar size
 .
 [v.2] Tested with Waze version 4.37.0.0.  (4-24-18)
 .
 ☞PayPal:  goin730@gmail.com patchID: 42074
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.waze.iphone
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
