Package: com.sinfool.kbcustomlongkeypressdelay
Name: KB - Custom Long Key Press Delay  ₈₋₂₁₋₁₆
Author: Sinfool
Description: Speeds up the delay when long pressing on accent/shortcut keys etc. Change the delay to your liking.  Speeds up the delay when long pressing on accent/shortcut keys etc. Change the delay to your liking. 
 .
 I made this patch to make better use of the new KB shortcuts gained on my iPad when using the "KB - iPad Pro Style (for iPads) or Portrait Style (for iPhones) in Landscape" patch.
 .
 [v.1] Tested with an iPad mini2 9.3.3.  Made as a request via r/jailbreak.  (8-21-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 30520
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
