Package: com.sinfool.enablelivephotosrecordingios933
Name: Enable Live Photos Recording (iOS 9.3.3)  ₁₀₋₄₋₁₆
Author: Sinfool
Description: Enables Live Photos recording on iOS 9.3.3. Enables Live Photos recording on iOS 9.3.3.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (10-4-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31515
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
