Package: com.sinfool.lsshowtimeonstatusbar
Name: LS - Show Time On Status Bar
Author: Sinfool
Description: Shows the time on the status bar of the lock screen. Shows the time on the status bar of the lock screen.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-15-17)
 .
 ☞PayPal:  goin730@gmail patchID: 34686
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
