Package: com.sinfool.spotlightfullytransparentnoblurs
Name: Spotlight - Fully Transparent (No Blurs)  ₁₀₋₁₅₋₁₆
Author: Sinfool
Description: Removes the blur & cell backgrounds from the minus & HS pages resulting in a fully transparent Spotlight.  Removes the blur & cell backgrounds from the minus & HS pages resulting in a fully transparent Spotlight. 
 .
 NOTE:  Please keep in mind that other patches/tweaks can vary your end results.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (10-15-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31682
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
