Package: com.sinfool.animationsnoiconzoomwhenunlocking
Name: Animations - No Icon Zoom When Unlocking
Author: Sinfool
Description: Disables the icon zoom animation when unlocking. Disables the icon zoom animation when unlocking.
 .
 [v.1] Tested with van iPad mini 4 10.2.  (3-15-17)
 .
 ☞PayPal: goin730@gmail.com patchID: 35897
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 136
