Package: com.sinfool.kbblurbackground
Name: KB - Blur Background
Author: Sinfool
Description: Blurs the keyboard background.  Change the blur as suggested or experiment with your own values. Blurs the keyboard background.  Change the blur as suggested or experiment with your own values.
 .
 NOTE: Doesn't work when Increase Contrast/Reduce Transparency is enabled and probably other keyboard tweaks.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-6-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34226
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
