Package: com.sinfool.spotlightdarksearchheader
Name: Spotlight - Dark (Search Header)
Author: Sinfool
Description: Makes spotlight's search header background dark & removes the blur when scrolling.  Change options to your liking. Makes spotlight's search header background dark & removes the blur when scrolling.  Change options to your liking.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-13-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34576
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
