Package: com.sinfool.ncnoclearxbutton
Name: NC - No Clear "x" Button
Author: Sinfool
Description: Removes the clear "x" button from notifications. Removes the clear "x" button from notifications.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (6-18-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 38179
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
