Package: com.sinfool.switcherroundedcards
Name: Switcher - Rounded Cards
Author: Sinfool
Description: Rounds the switcher cards.  Set the corner radius to your liking. By default, this also removes the scrolling blur & card shadow. Simply delete the units you don't want enabled. Rounds the switcher cards.  Set the corner radius to your liking. By default, this also removes the scrolling blur & card shadow. Simply delete the units you don't want enabled.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (2-4-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34139
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
