Package: com.sinfool.kbcustomcursor
Name: KB - Custom Cursor  ₉₋₂₂₋₁₆ ⚑
Author: Sinfool
Description: Customizes the following aspects of the cursor & text highlighting... Customizes the following aspects of the cursor & text highlighting...
 .
 * Visibility
 * Blinks
 * Color
 * Color (Text Selection Bars)
 * Visibility (Text Selection Highlight)
 * Color (Text Selection Highlight)
 .
 ⚑ UPDATES:
 (10-17-15) *Initial release
 (8-27-16) *Added back text selection highlight color by request
 (9-22-16) *Changed method for text selection highlight color
 .
 [v.3] Tested with an iP6+ 9.3.3.  (9-22-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25163
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
