Package: com.sinfool.kbnoautoshiftaftercharacterdeletionautoshiftfix
Name: KB - No Auto Shift After Character Deletion (AutoShiftFix)
Author: Sinfool
Description: Disables auto shift after deleting characters. Disables auto shift after deleting characters.
 .
 Useful for anyone who uses "Auto-Capitalization" @Settings -> General -> Keyboards but are annoyed by stock iOS capitalizing replacement characters when deleting text (i.e. when backspace/deleting two characters in the text "aBc", the new replacement character for "B" is capitalized).  With this patch enabled, new text replacements will be lowercase.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Requested by r/jailbreak user /u/clstudios.  (11-21-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 40080
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
