Package: com.sinfool.customreturnkey
Name: Custom Return Key  ₁₀₋₂₇₋₁₅
Author: Sinfool
Description: Customizes the return key button as listed below ... The text is currently set to show "®" but you can change it to whatever you want or leave it blank for no text. Customizes the return key button as listed below ... The text is currently set to show "®" but you can change it to whatever you want or leave it blank for no text.
 .
 • Enable/Disable Return Button Action
 • Custom Text
 • Button Type (standard/blue...when enabled)
 .
 [v.1] Tested with an iP6+ 9.0.2.  (10-27-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 25836
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 168
