Package: com.sinfool.alertssharesheettextcolor
Name: Alerts - Share Sheet Text Color  ₁₀₋₂₈₋₁₆
Author: Sinfool
Description: Changes the text color of share sheets to white but you can change & use a custom color for group items as well. Changes the text color of share sheets to white but you can change & use a custom color for group items as well.
 .
 [v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-28-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31823
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.UIKit
Homepage: https://ipadkid.cf/sinfool/index.html
