Package: com.sinfool.navbartitlebuttoncolor
Name: Nav Bar - Title Button Color  ₁₁₋₃₀₋₁₅
Author: Sinfool
Description: Changes the color of the navigation bar title buttons (i.e. edit & cancel etc).  Set the color to your liking. Changes the color of the navigation bar title buttons (i.e. edit & cancel etc).  Set the color to your liking.
 .
 [v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (11-30-15)
 .
 ☞PayPal:  goin730@gmail.com patchID: 26668
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.MobileSMS
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 168
