Package: com.sinfool.removevevologosver305
Name: Remove Vevo Logos (ver. 3.0.5)
Author: Sinfool
Description: Removes Navigation Bar & Featured Video Overlay logos.   Tested with version 3.0.5. Removes Navigation Bar & Featured Video Overlay logos.   Tested with version 3.0.5. patchID: 13085
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.vevo.iphone
Homepage: https://ipadkid.cf/sinfool/index.html
