Package: com.sinfool.nctransparent
Name: NC - Transparent
Author: Sinfool
Description: Makes the Notification Center background transparent. Makes the Notification Center background transparent.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  (3-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 35675
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
