Package: com.sinfool.openphotostabtocollectionsview
Name: Open "Photos" Tab To "Collections" View
Author: Sinfool
Description: Opens the "Photos" tab to the "Collections" view*. Opens the "Photos" tab to the "Collections" view*.
 .
 *After initial app startup/after app is first loaded into memory.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Requested by /u/iMikeyB.  (3-6-18)
 .
 ☞PayPal:  goin730@gmail.com patchID: 41185
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobileslideshow
Homepage: https://ipadkid.cf/sinfool/index.html
