Package: com.sinfool.allowbackgroundplaybackvideos
Name: Allow Background Playback (Videos)  ₁₋₉₋₁₇
Author: Sinfool
Description: Prevents iOS from pausing videos whenever you leave Safari or open NC/CC. Prevents iOS from pausing videos whenever you leave Safari or open NC/CC.
 .
 Useful for those annoyed by this native feature or those who dislike having to open CC & tap play to resume playback.
 .
 [v.1] Tested with an iP6+ 9.3.3.  (1-9-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 33359
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.mobilesafari
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.2-1
Installed-Size: 104
