Package: com.sinfool.nowallpaperblur
Name: No Wallpaper Blur  ₁₀₋₁₂₋₁₆
Author: Sinfool
Description: Gives a transparent wallpaper view by removing the blur from the following areas... Gives a transparent wallpaper view by removing the blur from the following areas...
 .
 * System Apps  (iBooks, Safari, Phone Dialer etc)
 * Lockscreen Notifications
 * Switcher Background
 * Phone Calls
 .
 [v.1] Tested with an iP6+ 9.3.3.  (10-12-16)
 .
 ☞PayPal:  goin730@gmail.com patchID: 31633
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
