Package: com.sinfool.lsnopresshometounlocktextpagedots
Name: LS - No "Press home to unlock" Text & Page Dots 
Author: Sinfool
Description: Removes the "Press home to unlock" text & the page dots underneath. Removes the "Press home to unlock" text & the page dots underneath.
 .
 [v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (2-10-17)
 .
 ☞PayPal:  goin730@gmail.com patchID: 34447
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Icon: file:///private/var/mobile/Library/Sinfool/com.apple.springboard
Homepage: https://ipadkid.cf/sinfool/index.html
Architecture: iphoneos-arm
Version: 0.0.1-1
Installed-Size: 104
